<div
  style="max-width: 99%"
  class="w-full mx-1"
  [ngClass]="{ 'h-full': juegos.length <= 0 }"
>
  <ng-container *ngIf="juegos.length > 0; else no_data">
    <p class="mt-4 text-center color-primary tex-titulo-Serius-Game">
      {{ "user-hub-module.reporte.titulo" | translate }}
    </p>
    <div class="w-full grid m-0 mt-4 mat-elevation-z4 border-round-xl p-4">
      <section class="container-table w-full" style="overflow: auto">
        <table mat-table [dataSource]="juegos">
          <ng-container matColumnDef="seleccion">
            <!-- <th mat-header-cell *matHeaderCellDef> {{'general-table.seleccionar' | translate}} </th>
         <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td> -->
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                (change)="$event ? toggleAllRows() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                [aria-label]="checkboxLabel()"
              >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
                [aria-label]="checkboxLabel(row)"
              >
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="id_juego">
            <th mat-header-cell *matHeaderCellDef>
              {{ "general-table.id_juego" | translate }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element.id_juego }}</td>
          </ng-container>

          <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef>
              {{ "general-table.tipo_req" | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.tipo_juego | translate }}
            </td>
          </ng-container>

          <ng-container matColumnDef="fecha_creacion">
            <th mat-header-cell *matHeaderCellDef>
              {{ "general-table.fecha_creacion" | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.fecha_creacion | date : "dd/MM/yyyy" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="fecha_finalizacion">
            <th mat-header-cell *matHeaderCellDef>
              {{ "general-table.fecha_finalizacion" | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.fecha_finalizacion | date : "dd/MM/yyyy" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>
              {{ "general-table.estado" | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.estado == 1 ? "Activo" : "Finalizado" }}
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </section>
      <div class="w-full flex flex-wrap justify-content-center mt-4">
        <div class="w-max flex gap-3">
          <app-ui-kaas-button
            [label]="'general.boton-generar' | translate"
            (eventClick)="obtenerDatosReportes()"
            [icon_visible]="true"
            [icon]="'bi bi-filetype-pdf'"
            [iconPosition]="'right'"
            buttonSize="small"
          >
          </app-ui-kaas-button>
          <app-ui-kaas-button
            [label]="
              'reporte-revision-table.generar-reporte-estudiantes' | translate
            "
            (eventClick)="obtenerRevisionesEstudiantes()"
            [icon_visible]="true"
            [icon]="'bi bi-filetype-pdf'"
            [iconPosition]="'right'"
            buttonSize="small"
          >
          </app-ui-kaas-button>
          <app-ui-kaas-button
            [label]="
              'reporte-revision-table.generar-reporte-profesores' | translate
            "
            (eventClick)="obtenerRevisionesProfesores()"
            [icon_visible]="true"
            [icon]="'bi bi-filetype-pdf'"
            [iconPosition]="'right'"
            buttonSize="small"
          >
          </app-ui-kaas-button>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #no_data>
    <app-juegos-vacios></app-juegos-vacios>
  </ng-template>
  <ng-container *ngIf="viewPdf">
    <div class="w-max mt-8" id="htmlData">
      <div class="mt-4">
        <ng-container
          *ngFor="let data of datosJuegosSeleccionados; let indice = index"
        >
          <p class="text-primary text-xl mb-4 mt-4">
            {{ "general-table.id_juego" | translate }}: {{ data.id_juego }}
          </p>
          <div class="border-1 border-solid border-300 border-round-lg">
            <table mat-table [dataSource]="data.puntajes">
              <ng-container matColumnDef="nombres">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "general-table.nombres" | translate }}
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.nombres }}
                </td>
              </ng-container>

              <ng-container matColumnDef="apellidos">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "general-table.nombres" | translate }}
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.apellidos }}
                </td>
              </ng-container>

              <ng-container matColumnDef="aciertos">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "general-table.aciertos" | translate }}
                </th>
                <td mat-cell *matCellDef="let element" class="text-green-500">
                  {{ element.aciertos }}
                </td>
              </ng-container>

              <ng-container matColumnDef="errores">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "general-table.errores" | translate }}
                </th>
                <td mat-cell *matCellDef="let element" class="text-red-500">
                  {{ element.errores }}
                </td>
              </ng-container>

              <ng-container matColumnDef="puntaje">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "general-table.puntos" | translate }}
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.puntaje }}
                </td>
              </ng-container>

              <ng-container matColumnDef="tiempoInicio">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "general-table.tiempo-inicio" | translate }}
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.hora_inicio }}
                </td>
              </ng-container>

              <ng-container matColumnDef="tiempoFin">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "general-table.tiempo-fin" | translate }}
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.hora_fin }}
                </td>
              </ng-container>

              <ng-container matColumnDef="tiempoJuego">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "general-table.tiempo" | translate }}
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.tiempo | duration }}
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns2; sticky: true"
              ></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
            </table>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <!-- <ng-container *ngIf="revisionesEstudiantesStatus.viewPdf"> -->
  <div class="w-max mt-8" id="htmlDataRevisionesEstudiantes">
    <div class="mt-4">
      <ng-container
        *ngFor="
          let data of revisionesEstudiantesStatus.juegosSeleccionados;
          let indice = index
        "
      >
        <p class="text-primary text-xl mb-4 mt-4">
          {{ "general-table.id_juego" | translate }}: {{ data.id_juego }}
        </p>
        <div *ngFor="let req of data.requerimientos" class="mb-4">
          <p>
            {{ "reporte-revision-table.no" | translate }}
            : {{ req.id_requerimiento }}
          </p>
          <p>
            {{ "reporte-revision-table.tipo" | translate }}
            : {{ req.tipo_requerimiento }}
          </p>
          <p>
            {{ "reporte-revision-table.titulo" | translate }}
            : {{ req.titulo }}
          </p>
          <p>
            {{ "reporte-revision-table.retroalimentacion" | translate }}:
            {{ req.retroalimentacion }}
          </p>

          <div class="border-1 border-solid border-300 border-round-lg mt-4">
            <table mat-table [dataSource]="req.revisiones">
              <ng-container matColumnDef="revisor">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "reporte-revision-table.revisor" | translate }}
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.revisor }}
                </td>
              </ng-container>

              <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "reporte-revision-table.tipo" | translate }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  [ngClass]="{
                    'text-red-500': element.tipo !== req.tipo_requerimiento,
                    'text-green-500': element.tipo === req.tipo_requerimiento
                  }"
                >
                  {{ element.tipo }}
                </td>
              </ng-container>

              <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "reporte-revision-table.titulo" | translate }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  [ngClass]="{
                    'text-red-500': element.titulo !== req.titulo,
                    'text-green-500': element.titulo === req.titulo
                  }"
                >
                  {{ element.titulo }}
                </td>
              </ng-container>

              <ng-container matColumnDef="retroalimentacion">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "reporte-revision-table.retroalimentacion" | translate }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  [ngClass]="{
                    'text-red-500':
                      element.retroalimentacion !== req.retroalimentacion,
                    'text-green-500':
                      element.retroalimentacion === req.retroalimentacion
                  }"
                >
                  {{ element.retroalimentacion }}
                </td>
              </ng-container>

              <ng-container matColumnDef="fechaRevision">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "reporte-revision-table.fecha-revision" | translate }}
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.fecha_revision }}
                </td>
              </ng-container>
              <ng-container matColumnDef="noFeedback">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "reporte-revision-table.no-feedback" | translate }}
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.no_feedback == 0 ? "No" : "Sí" }}
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="
                  revisionesEstudiantesStatus.displayedColumns2;
                  sticky: true
                "
              ></tr>
              <tr
                mat-row
                *matRowDef="
                  let row;
                  columns: revisionesEstudiantesStatus.displayedColumns2
                "
              ></tr>
            </table>
            <div
              *ngIf="req.revisiones.length === 0"
              class="mat-elevation-z1 p-4 text-center"
            >
              {{ "reporte-revision-table.no-data" | translate }}
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="w-max mt-8" id="htmlDataRevisionesProfesores">
    <div class="mt-4">
      <ng-container
        *ngFor="let data of revisionesProfesoresStatus.juegosSeleccionados"
      >
        <p class="text-primary text-xl mb-4 mt-4">
          {{ "general-table.id_juego" | translate }}: {{ data.id_juego }}
        </p>

        <div *ngFor="let req of data.requerimientos" class="mb-4">
          <!-- Información del requerimiento -->
          <p>
            {{ "reporte-revision-table.no" | translate }}:
            {{ req.id_requerimiento }}
          </p>
          <p>
            {{ "reporte-revision-table.tipo" | translate }}:
            {{ req.tipo_requerimiento }}
          </p>
          <p>
            {{ "reporte-revision-table.titulo" | translate }}: {{ req.titulo }}
          </p>
          <p>
            {{ "reporte-revision-table.retroalimentacion" | translate }}:
            {{ req.retroalimentacion }}
          </p>

          <!-- Tabla principal -->
          <div class="border-1 border-solid border-300 border-round-lg mt-4">
            <table
              mat-table
              [dataSource]="req.revisiones"
              class="w-full"
              multiTemplateDataRows
            >
              <!-- Columnas principales -->
              <ng-container matColumnDef="revisor">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "reporte-revision-table.revisor" | translate }}
                </th>
                <td mat-cell *matCellDef="let revision">
                  {{ revision.revisor }}
                </td>
              </ng-container>

              <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "reporte-revision-table.tipo" | translate }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let revision"
                  [ngClass]="{
                    'text-red-500': revision.tipo !== req.tipo_requerimiento,
                    'text-green-500': revision.tipo === req.tipo_requerimiento
                  }"
                >
                  {{ revision.tipo }}
                </td>
              </ng-container>

              <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "reporte-revision-table.titulo" | translate }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let revision"
                  [ngClass]="{
                    'text-red-500': revision.titulo !== req.titulo,
                    'text-green-500': revision.titulo === req.titulo
                  }"
                >
                  {{ revision.titulo }}
                </td>
              </ng-container>

              <ng-container matColumnDef="retroalimentacion">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "reporte-revision-table.retroalimentacion" | translate }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let revision"
                  [ngClass]="{
                    'text-red-500':
                      revision.retroalimentacion !== req.retroalimentacion,
                    'text-green-500':
                      revision.retroalimentacion === req.retroalimentacion
                  }"
                >
                  {{ revision.retroalimentacion }}
                </td>
              </ng-container>

              <ng-container matColumnDef="fechaRevision">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "reporte-revision-table.fecha-revision" | translate }}
                </th>
                <td mat-cell *matCellDef="let revision">
                  {{ revision.fecha_revision }}
                </td>
              </ng-container>

              <ng-container matColumnDef="noFeedback">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "reporte-revision-table.no-feedback" | translate }}
                </th>
                <td mat-cell *matCellDef="let revision">
                  {{ revision.no_feedback == 0 ? "No" : "Sí" }}
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="revisionesProfesoresStatus.displayedColumns"
              ></tr>
              <tr
                mat-row
                *matRowDef="
                  let row;
                  columns: revisionesProfesoresStatus.displayedColumns
                "
              ></tr>

              <!-- Fila de subtabla - siempre visible -->
              <ng-container matColumnDef="subtabla" class="bg-gray-100">
                <td
                  mat-cell
                  *matCellDef="let revision"
                  [colSpan]="6"
                  class="bg-gray-100"
                >
                  <div class="subtabla-container bg-gray-100 pb-4">
                    <p class="my-2 font-bold">
                      {{
                        "reporte-revision-table.revisiones_profesores"
                          | translate
                      }}
                    </p>
                    <table
                      mat-table
                      [dataSource]="revision.revisiones_profesores || []"
                      class="w-full"
                    >
                      <ng-container matColumnDef="revisor">
                        <th mat-header-cell *matHeaderCellDef>
                          {{ "reporte-revision-table.revisor" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let prof">
                          {{ prof.revisor }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="retroalimentacion">
                        <th mat-header-cell *matHeaderCellDef>
                          {{
                            "reporte-revision-table.retroalimentacion"
                              | translate
                          }}
                        </th>
                        <td mat-cell *matCellDef="let prof">
                          {{ prof.retroalimentacion }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="fechaRevision">
                        <th mat-header-cell *matHeaderCellDef>
                          {{
                            "reporte-revision-table.fecha-revision" | translate
                          }}
                        </th>
                        <td mat-cell *matCellDef="let prof">
                          {{ prof.fecha_revision }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="aprobado">
                        <th mat-header-cell *matHeaderCellDef>
                          {{ "reporte-revision-table.aprobado" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let prof">
                          {{ prof.aprobado == 0 ? "No" : "Sí" }}
                        </td>
                      </ng-container>

                      <tr
                        mat-header-row
                        *matHeaderRowDef="
                          revisionesProfesoresStatus.displayedColumns2
                        "
                      ></tr>
                      <tr
                        mat-row
                        *matRowDef="
                          let row;
                          columns: revisionesProfesoresStatus.displayedColumns2
                        "
                      ></tr>
                    </table>
                    <div
                      *ngIf="revision.revisiones_profesores.length === 0"
                      class="mat-elevation-z1 p-4 text-center"
                    >
                      {{ "reporte-revision-table.no-data" | translate }}
                    </div>
                  </div>
                </td>
              </ng-container>

              <tr
                mat-row
                *matRowDef="let row; columns: ['subtabla']"
                class="subtabla-row"
              ></tr>
            </table>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- </ng-container> -->
</div>
